<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oembed Test Site</title>
</head>
<link rel="stylesheet" href="/css/oembed.css" type="text/css"/>
<script type="text/javascript" src="/js/oembed.js"></script>
<body>
<div class="container">
    <header>
        <div id="title">oEmbed Test</div>
        <form class="m-t" role="form" action="/contents" method="get">
            <div id="input_Box">
                <input type="text" th:name="url" placeholder="url을 입력해주세요" id="url"/>
                <input type="submit" value="확인"/>
            </div>
        </form>
    </header>

    <article>
        <div id="content_wrap">
            <div id="title_container" th:if="${contents!= null}">
                <div>
                    <div>title</div>
                    <div th:if="${contents.title}">
                        <div th:text="${contents.title}"></div>
                    </div>
                </div>
            </div>

            <ul id="responseDataInContainer" th:if="${contents!= null}">
                <li>
                    <div>type</div>
                    <div th:if="${contents.type}">
                        <div th:text="${contents.type}"></div>
                    </div>
                </li>
                <li>
                    <div>version</div>
                    <div th:if="${contents.version}">
                        <div th:text="${contents.version}"></div>
                    </div>
                </li>
                <li>
                    <div>provider_name</div>
                    <div th:if="${contents.providerName}">
                        <div th:text="${contents.providerName}"></div>
                    </div>
                </li>
                <li>
                    <div>provider_url</div>
                    <div th:if="${contents.providerUrl}">
                        <div th:text="${contents.providerUrl}"></div>
                    </div>
                </li>
                <li>
                    <div>author_name</div>
                    <div th:if="${contents.authorName}">
                        <div th:text="${contents.authorName}"></div>
                    </div>
                </li>
                <li>
                    <div>author_url</div>
                    <div th:if="${contents.authorUrl}">
                        <div th:text="${contents.authorUrl}"></div>
                    </div>
                </li>
                <li th:if="${contents.isPlus}">
                    <div>is_plus</div>
                    <div th:text="${contents.isPlus}"></div>
                </li>
                <li>
                    <div>html
                        <br>
                        <div th:text="${contents.htmlWidthPerHeight}"></div>
                    </div>

                    <div>
                        <div th:text="${contents.html}"></div>
                        <div th:if="${contents.html}">
                            <div th:utext="${contents.html}"></div>
                        </div>
                    </div>
                </li>
                <li th:if="${contents.width}">
                    <div>width</div>
                    <div th:text="${contents.width}"></div>
                </li>
                <li th:if="${contents.height}">
                    <div>height</div>
                    <div th:text="${contents.height}"></div>
                </li>

                <li th:if="${contents.duration}">
                    <div>duration</div>
                    <div th:text="${contents.duration}"></div>
                </li>
                <li th:if="${contents.description}">
                    <div>description</div>
                    <div th:text="${contents.description}"></div>
                </li>
                <li th:if="${contents.thumbnailUrl}">
                    <div>thumbnail_url
                        <br>
                        <div th:text="${contents.htmlWidthPerHeight}"></div>
                    </div>
                    <div>
                        <div><img th:src="${contents.thumbnailUrl}"></div>
                        <div th:text="${contents.thumbnailUrl}"></div>
                    </div>
                </li>

                <li th:if="${contents.thumbnailWidth}">
                    <div>thumbnail_width</div>
                    <div th:text="${contents.thumbnailWidth}"></div>
                </li>
                <li th:if="${contents.thumbnailHeight}">
                    <div>thumbnail_height</div>
                    <div th:text="${contents.thumbnailHeight}"></div>
                </li>
                <li th:if="${contents.thumbnailUrlWithPlayButton}">
                    <div>thumbnail_url_with_play_button</div>
                    <div>
                        <a th:href="@{contents.thumbnailUrlWithPlayButton}"
                           th:text="${contents.thumbnailUrlWithPlayButton}"></a>
                    </div>
                </li>
                <li th:if="${contents.uploadDate}">
                    <div>upload_date</div>
                    <div th:text="${contents.uploadDate}"></div>
                </li>
                <li th:if="${contents.videoId}">
                    <div>video_id</div>
                    <div th:text="${contents.videoId}"></div>
                </li>
                <li th:if="${contents.uri}">
                    <div>url</div>
                    <div th:text="${contents.uri}"></div>
                </li>
            </ul>
        </div>
    </article>
</div>

</body>
</html>

